<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


From Local
<suite name="Suite">

	<groups>
		<run>
			<include name="sanity" />
		</run>
	</groups>
	
	<listeners>
		<listener class-name="testingDemo.TestListener"></listener>
	</listeners>

	<parameter name="browser" value="Chrome"></parameter>
	<parameter 
	name="baseUrl" 
	value="file:///C:/Users/khale/OneDrive/http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=1549Desktop/Misc/NK TECH Solutions/Automation/WebPage/2ndPage.html">
	</parameter>

	<test name="Test">
	
		<classes>
			<class name="testingDemo.AppTest"></class>
		</classes>

	</test>
	

</suite>
