<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">

	<groups>
		<run>
			<include name="sanity" />
		</run>
	</groups>
	
	<listeners>
		<listener class-name="pageTest.TestListenerClass"></listener>
	</listeners>

	<parameter name="browserName" value="Chrome"></parameter>
	<parameter name="baseUrl" value="https://nktechsolutions.com/membership-login/"></parameter>

	<test name="Test">
	
		<classes>
			<class name="pageTest.TestClass"></class>
		</classes>

	</test>
	

</suite>
